/* Estilos para la tabla con efecto 3D */
.main-listados {
    flex-direction: column;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.main-listados-titulo {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.main-listados-tabla {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.main-listados-tabla th, .main-listados-tabla td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.main-listados-tabla th {
    background-color: #2c2c2c;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -3px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.main-listados-tabla thead tr {
    background-color: #212121;
    color: white;
}

.main-listados-tabla tbody td {
    background-color: #fafafa; 
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-listados-tabla tbody td a {
    text-decoration: none;
    color: #333;
}

/* Efecto hover en filas */
.main-listados-tabla tbody tr:hover td {
    background-color: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto 3D en las celdas */
.main-listados-tabla td {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-listados-tabla td:hover {
    background-color: #e6e6e6;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
